@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.navbarLeft {
    display: flex;
}

.navbarHome {
    width: 80px;
    font-family: "Rubik";
    font-size: large;
    font-weight: 600;
    display: grid;
    place-items: center;
    
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;

    height: 60px;
}

.navbarProjects {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    font-family: "Rubik";
    font-size: large;
    font-weight: 600;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.navbarAbout {
    margin-left: 10px;
    width: 85px;
    font-family: "Rubik";
    font-size: large;
    font-weight: 600;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.navbarHome:hover {
    background-color: rgb(137, 137, 137);
    border-radius: 6px;
}

.navbarProjects:hover {
    background-color: rgb(137, 137, 137);
    border-radius: 6px;
}

.navbarAbout:hover {
    background-color: rgb(137, 137, 137);
    border-radius: 6px;
}

.navbarButton {

    border: 0px;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;
    font-family: "Rubik",'Times New Roman';
    font-weight: 450;
    font-size: 18px;
    transition: 0.2s;
}

.navbarButton:hover {

    box-shadow: 1px 1px 3px 1px grey;

}

nav {
    background-color: #d3d3d3;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-right: 15px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    border-radius: 6px;
}

.main {
    font-family: "Rubik";
    font-size: 50px;
    display: grid;
    place-items: center;

}