@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');



* {
    margin: 0;
    padding: 0;
}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.primaryText {
    font-family: 'Rubik';
    font-size: 175%;
    
}

.clickHere {
    margin-top: 10px;
    width: 275px;
    height: 50px;
    font-family: "Rubik";
    font-weight: 600;
    font-size: 30px;
    border-radius: 125px;
    border: 0;

}

footer {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 15vh;
    border-radius: 20px;
    margin: 2%;
    background-color: red;
}






