.title-page {
	background: linear-gradient(-45deg , #23d57f, #24a1ee, #a76cf4);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.arrow-down {
  filter: invert(100%);
  transform: rotate(90deg);
}

.arrow-down:hover {
  filter: invert(80%);
}
